/*color block palette 1*/

.container{
	margin-left: 30vw;
	font-family: 'Roboto Mono', monospace;
	width: 20vw;
}
.div{
	display: none;
}
#first{
	width: 170px;
    height: inherit;
	transform: skewY(20deg);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid black;
	border-top: 0px;
}

#sentance0{
	width: 170px;
    height: inherit;
	transform: skewY(-20deg);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid darkgray;
	border-top: 0px;
}

#sentance1{
	width: 170px;
    height: inherit;
	transform: skewY(20deg);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid dimgray;
	border-top: 0px;
}

#sentance2{
	width: 170px;
    height: inherit;
	transform: skewY(20deg);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid gray;
	border-top: 0px;
}

#sentance3{
	width: 170px;
    height: inherit;
	transform: skewY(-20deg);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid lightgray;
	border-top: 0px;
}

#sentance4{
	width: 170px;
    height: inherit;
	transform: skewY(20deg);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid gainsboro;
	border-top: 0px;
}
